<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="ie=edge" http-equiv="X-UA-Compatible" />
        <meta content="La Boutique " name="description" />
        <meta content="La Boutique" name="author" />
        <title>Categorias - La Boutique</title>
        <!-- Link al CSS de BOOTSTRAP -->
        <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}" />
        <!-- Link a nuestro CSS -->
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!--Favicon-->
        <link rel="shortcut icon" th:href="@{/img/logo_percha_chico.png}" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>

    <body>
        <!--HEAD-->
        <header th:replace="${session.id != null} ? ~{fragments/header :: header} : ~{fragments/header-index :: header-index}"></header>
        <!--MAIN-->
        <main id="categorialistado" class="container">
            <section class="title">
                <h1 id="list" class="mt-5">Listado de categorias</h1>
                <a th:href="@{/categorias/crear}" class="btn btn-card my-5">Crear una categoria</a>
            </section>
            <div th:if="${categorias.isEmpty()}">
                <h5>Todavía no hay categorias cargadas.</h5>
            </div>
            <section class="row" th:unless="${categorias.isEmpty()}">
                <table class="table">
                    <thead class="categoria-listado-cabecera">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Modificar | Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="categoria : ${categorias}">
                            <td th:text="${categoria.id}"></td>
                            <td th:text="${categoria.nombre}"></td>
                            <td>
                                <a th:href="@{/categorias/editar/__${categoria.id}__}" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a> |
                                <a th:href="@{/categorias/eliminar/__${categoria.id}__}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </body>
    <!--FOOTER-->
    <footer th:replace="fragments/footer :: footer"></footer>
    <!-- Link al JS de Bootstrap-->
    <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>

</html>
