<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <p th:if="${error}" th:text="${error}"></p>
        <p th:if="${logout}" th:text="${logout}"></p>
        <form th:action="@{/logincheck}" method="post">
            <input type="email" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="clave">
            <button type="submit">Login</button>
        </form>
           
        <a th:href="@{/signup}">signup</a>
    </body>
</html>