<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />
  <meta content="La Boutique " name="description" />
  <meta content="La Boutique" name="author" />
  <title>La Boutique</title>
  <!-- Link al CSS de BOOTSTRAP -->
  <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}" />
  <!-- Link a nuestro CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <!--Favicon-->
  <link rel="shortcut icon" th:href="@{/img/logo_percha_chico.png}" type="image/x-icon">
</head>
<body>
  <!-- HEADER-->
  <header th:replace="fragments/header :: header"></header>
  <!-- MAIN-->
  <main class="nuevo-producto">
    <form method="post" th:action="@{/producto/__${action}__}" enctype="multipart/form-data" th:object="${producto}">
      <div class="form-group">
        <label for="">Título</label>
        <input type="text" placeholder="Escribir el nombre del producto" th:field="*{titulo}">
      </div>
      <br>

      <div class="form-group">
        <label for="">Descripción</label>
        <textarea th:field="*{descripcion}" placeholder="Escribir una descripción breve del producto" rows="3"></textarea>
      </div>
      <br>

      <label for="categoria">Categoría</label>
      <select aria-label="Seleccionar una categoria" class="form" th:field="*{categoria}">
        <option aria-label="seleccionar una categoria" value="0">Seleccionar una categoria</option>
        <option th:each="categoria : ${categorias}" th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
      </select>
      <br>

      <label for="">Subir una imagen</label>
      <input type="file" placeholder="Foto" name="archivo">
      <br>
      
      <input th:field="*{foto}" hidden>
      <input th:field="*{estado}" hidden>
      <input th:field="*{tipo}" hidden>
      <input th:field="*{beneficiario}" hidden>
      <input th:field="*{donante}" hidden>

      <button type="submit" class="btn btn-card"
        th:text="${action == 'guardar'} ? 'cargar producto' : 'Guardar cambios'"></button>
    </form>

  </main>
  <!--FOOTER-->
  <footer th:replace="fragments/footer :: footer"></footer>
  <!-- Link al JS de Bootstrap-->
  <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
</body>

</html>