<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <meta content="La Boutique " name="description"/>
    <meta content="La Boutique" name="author"/>
    <title>La Boutique</title>
    <!-- Link al CSS de BOOTSTRAP -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}"/>
    <!-- Link a nuestro CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
     <!--Favicon-->
    <link rel="shortcut icon" th:href="@{/img/logo_percha_chico.png}" type="image/x-icon">
</head>
<body>
  <!-- HEADER-->
    <header th:replace="${session.id != null} ? ~{fragments/header :: header} : ~{fragments/header-index :: header-index}"></header>
  <!-- MAIN-->
  <main id="registrate" class="container">
      <h1 th:text="${session.id != null} ? 'Actualizar' : 'Registrate'">  </h1>
      <div class="alert alert-danger col-xl-6" th:if="${error}" th:text="${error}"></div>
       <form method="post" th:action="@{/__${action}__}" th:object="${usuario}" class="mb-5">
            <input id="id"  type="hidden" th:field="*{id}"/>
            <!--nombre-->
            <label for="nombre">Nombre</label>  
            <input placeholder="Ingresa tu nombre" th:field="*{nombre}" type="text">
            <!--dni-->
            <label for="dni">DNI</label>    
            <input  id="dni" type="text" placeholder="Ingresa tu DNI" th:field="*{dni}"/>
            <!--correo-->
            <label for="email">Email</label>
            <input  id="correo" type="email" placeholder="Ingresa tu correo"  th:field="*{email}"/>
            <!--clave-->
            <label for="clave">Clave</label>
            <input  id="clave" type="password" placeholder="Ingresa la contraseña" th:field="*{clave}"/>
            <!-- 
            <label for="clave2">Repetir clave</label>
            <input  id="clave2" type="password" placeholder="Repetir Contraseña" th:field="*{clave2}"/> -->
            <!--telefono-->
            <label for="telefono">Telefono</label>
            <input  id="telefono" type="text" placeholder="Ingresa el teléfono" th:field="*{telefono}"/>
            <!--barrio-->
            <label for="barrio">Barrio</label>
            <input  id="barrio" type="text" placeholder="Ingresa el barrio" th:field="*{barrio}"/>
            <!--rol-->
            <input id="rol"  type="hidden" th:field="*{rol}"/>
            <!--boton-->
            <button type="submit" class="btn- btn-card"  th:text="${session.id != null} ? 'Actualizar' : 'Registrate'"> </button>
        </form>
    </main>
    <!--FOOTER-->
    <footer th:replace="fragments/footer :: footer"></footer>
    <!-- Link al JS de Bootstrap-->
    <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
</body>
</html>