<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Signup</title>
        <meta charset="UTF-8">
    </head>
    <body>
        
            <h2>Registro</h2>
            
                <form method="post" th:action="@{/registro}" th:object="${usuario}">
                      
                    <input placeholder="Nombre" th:field="*{nombre}" type="text">
                        
                    <input  id="apellido" type="text" placeholder="Dni" th:field="*{dni}">
                        <input  id="correo" type="email" placeholder="Email"  th:field="*{email}">
                        <input  id="clave" type="password" placeholder="Contraseña" th:field="*{clave}">
                    
                    <button type="submit">Signup</button>
                </form>
            
        


    </body>
</html>
